
 .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    
}
.Hop1{
    flex-basis: 50px;
    background-color: rgb(46, 230, 247);
   
}
.Hop2{
    flex-basis: 100px;
    background-color: rgb(46, 230, 247);
   
}
.Hop3{
    flex-basis: 150px;
    background-color: rgb(46, 230, 247);
}
